{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <!-- Swiper -->
    <div class="swiper-container overflow-hidden w-100 position-relative">
   
     <!-- swiper slides -->
     <div class="swiper-wrapper">
   
         <div class="swiper-slide bg-overlay" style="background-image: url(./assets/images/slide/slider-1.jpg);  background-position: center;
   background-size: cover; background-repeat: no-repeat;">
             <div class="text container">
                 <div class="row">
                     <div class="col-12 col-lg-6 col-md-12">
                         <div class="text-center text-lg-start">
                             <h1 class="text-white display-5">Any Computer Problems?</h1>
                             <p class="lead text-white">We offer repair many different types of devices including computers, smartphones, tablets, gaming consoles etc...</p>
                             <a href="#" class="btn btn-secondary">View Service</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
   
         <div class="swiper-slide bg-overlay" style="background-image: url(./assets/images/slide/slider-2.jpg); background-position: center;
   background-size: cover; background-repeat: no-repeat;">
             <div class="text container">
                 <div class="row">
                   <div class="col-12 col-lg-6 col-md-12">
                     <div class="text-center text-lg-start">
                         <h1 class="text-white display-5">Store for a Quick Repair.</h1>
                         <p class="lead text-white">Bring or send your phone, laptop, game console computer or tablet to the Store for a quick repair.</p>
                         <a href="#" class="btn btn-secondary">Find Locations</a>
                     </div>
                 </div>
                 </div>
             </div>
         </div>
   
         <div class="swiper-slide bg-overlay" style="background-image: url(./assets/images/slide/slider-3.jpg); background-position: center;
   background-size: cover; background-repeat: no-repeat;">
             <div class="text container">
                 <div class="row ">
                   <div class="col-12 col-lg-6 col-md-12">
                     <div class="text-center text-lg-start">
                         <h1 class="text-white display-5">Receive Instant Service!</h1>
                         <p class="lead text-white">We offer repair many different types of devices including computers, smartphones, tablets, gaming consoles etc...</p>
                         <a href="#" class="btn btn-secondary">Meet The Team</a>
                     </div>
                 </div>
                 </div>
             </div>
         </div>
   
   
     </div>
     <!-- !swiper slides -->
   
     <!-- next / prev arrows -->
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
     <!-- !next / prev arrows -->
   
     <!-- pagination dots -->
     <div class="swiper-pagination bottom-0 mb-3"></div>
     <!-- !pagination dots -->
   </div>
   
       <!-- repair started -->
       <section class="py-lg-10 py-6">
         <div class="container">
           <div class="row">
             <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
               <div class="text-center mb-lg-6 mb-5">
                 <h2 class="mb-2">Get Your Repair Started</h2>
                 <p class="mb-0">Explore new ways to see what’s working and fix what’s not. Vivamus sed finibus nulla.
                   Suspendisse ac ex sed sem consequat pellentesque ain nulla.</p>
               </div>
             </div>
           </div>
   
           <div class="row">
             <div class="col-md-6 col-lg-3 col-xl-3 mb-4 mb-lg-0">
               <div class="card bg-light border-0 h-100">
                 <div class="card-body p-lg-6">
                   <div class="mb-4">
                     <i class="icon-imac display-4 text-primary"></i>
                   </div>
                   <div>
                     <h3 class="mb-2">
                       <a href="#" class="text-inherit">PC & MAC Computers</a>
                     </h3>
                     <p>Nam elementu orpernec ac odio non justo rutrum finibus lamcorper.</p>
                   </div>
                   <div>
                     <a href="#" class="btn-link">Read More</a>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6 col-lg-3 col-xl-3 mb-4 mb-lg-0">
               <div class="card border-0 bg-light h-100">
                 <div class="card-body p-lg-6">
                   <div class="mb-4">
                     <i class="icon-macbook display-4 text-primary"></i>
                   </div>
                   <div>
                     <h3 class="mb-2">
                       <a href="#" class="text-inherit">Laptop Macbook Repair</a>
                     </h3>
                     <p>Quisque ut dolor pulvinar, accumsan nisi sit amet, egestas felis.</p>
                   </div>
                   <div>
                     <a href="#" class="btn-link">Read More</a>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6 col-lg-3 col-xl-3 mb-4  mb-md-0">
               <div class="card border-0 bg-light h-100">
                 <div class="card-body p-lg-6">
                   <div class="mb-4">
                     <i class="icon-iphones display-4 text-primary"></i>
                   </div>
                   <div>
                     <h3 class="mb-2">
                       <a href="#" class="text-inherit">Smartphone Repair</a>
                     </h3>
                     <p>Curabitur vehicula odio nec arcu accumsan, vel tempor ipsum rhoncu.</p>
                   </div>
                   <div>
                     <a href="#" class="btn-link">Read More</a>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6 col-lg-3 col-xl-3">
               <div class="card border-0 bg-light h-100">
                 <div class="card-body p-lg-6">
                   <div class="mb-4">
                     <i class="icon-tablet-3 display-4 text-primary"></i>
                   </div>
                   <div>
                     <h3 class="mb-2">
                       <a href="#" class="text-inherit">Tablet - iPad Repair</a>
                     </h3>
                     <p>Fusce eu odio ac neque interdum volutpat. Sed vel pharetra quam.</p>
                   </div>
                   <div>
                     <a href="#" class="btn-link">Read More</a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!-- repair started -->
       <!--Find out-->
       <section class="pb-6 pb-lg-10">
         <div class="container">
           <div class="row">
             <div class="col-lg-8 offset-lg-2">
               <div class="row d-flex align-items-center">
                 <div class="col-lg-7 col-md-8 col-12">
                   <div class="mb-4  mb-md-0">
                     <h2 class="mb-0">Find out all repair service we offer.</h2>
                     <p class="mb-0">We're here to get your devices repair soon.</p>
                   </div>
                 </div>
                 <div class="col-lg-5 col-md-4 col-12">
                   <div class="text-lg-end text-md-end">
                     <a href="#" class="btn btn-primary">View All Services</a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
   
         </div>
       </section>
       <!--Find out-->
       <!--Everybody has standards -->
       <section class="py-lg-10 py-6  bg-light">
         <div class="container">
           <div class="row">
             <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
               <div class="text-center">
                 <h2 class="mb-2">Everybody has standards ours are just better.</h2>
                 <p class="mb-0">Explore new ways to see what’s working and fix what’s not. Vivamus sed finibus nulla.
                   Suspendisse ac ex sed sem consequat pellentesque ain nulla.</p>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--Everybody has standards -->
       <!--4 column-->
       <section class="pt-2">
         <div class="container-fluid px-2">
           <div class="row g-2">
             <div class="col-md-6  col-xl-3">
               <div class="card bg-light rounded-0 border-0  ">
                 <div class="card-body p-6">
                   <div class="text-center">
                     <div class="mb-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="var(--fixit-primary)"
                         class="bi bi-wrench-adjustable" viewBox="0 0 16 16">
                         <path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z" />
                         <path
                           d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
                       </svg>
                     </div>
                     <h3 class="mb-2">Free Diagnostics</h3>
                     <p class="mb-0">Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc
                       volutpat ullamcorper.</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6  col-xl-3">
               <div class="card bg-light rounded-0 border-0 ">
                 <div class="card-body p-6">
                   <div class="text-center">
                     <div class="mb-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="var(--fixit-primary)"
                         class="bi bi-cash" viewBox="0 0 16 16">
                         <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                         <path
                           d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                       </svg>
                     </div>
                     <h3 class="mb-2">Low Price Guarantee</h3>
                     <p class="mb-0">Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc
                       volutpat ullamcorper.</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6  col-xl-3">
               <div class="card bg-light rounded-0 border-0  ">
                 <div class="card-body p-6">
                   <div class="text-center">
                     <div class="mb-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="var(--fixit-primary)"
                         class="bi bi-gear-fill" viewBox="0 0 16 16">
                         <path
                           d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                       </svg>
                     </div>
                     <h3 class="mb-2">Quick Repair Process</h3>
                     <p class="mb-0">Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc
                       volutpat ullamcorper.</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-6  col-xl-3">
               <div class="card bg-light rounded-0 border-0 ">
                 <div class="card-body p-6">
                   <div class="text-center">
                     <div class="mb-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="var(--fixit-primary)"
                         class="bi bi-calendar-check" viewBox="0 0 16 16">
                         <path
                           d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                         <path
                           d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                       </svg>
                     </div>
                     <h3 class="mb-2">90-Day Warranty</h3>
                     <p class="mb-0">Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc
                       volutpat ullamcorper.</p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--4 column-->
       <!--We are repair-->
       <section class="py-lg-10 py-6">
         <div class="container">
           <div class="row">
             <div class="col-lg-12 col-md-12 col-12">
               <div class="text-center mb-5 mb-lg-6">
                 <h2 class="mb-2">We are repair store</h2>
                 <p class="mb-0">Explore new ways to see what’s working and fix what’s not.</p>
               </div>
             </div>
           </div>
           <div class="row d-flex align-items-center">
             <div class="col-lg-6 ">
               <div class="mb-4 mb-lg-0">
                 <div class="">
                   <img src="./assets/images/post/about-image.png" alt="post" class="img-fluid w-100">
                 </div>
               </div>
             </div>
             <div class="col-lg-6 col-md-12 col-12">
               <div class="mb-lg-6">
                 <p class="lead text-primary">
                   We strive to help people by providing extraordinary service and expert repairs using only the highest
                   quality parts available.
                 </p>
                 <p>Of course we love fixing cracked iPhone screens and broken charge ports, but we get our satisfaction
                   from
                   helping out folks who lost their connection to the outside world.
                 </p>
               </div>
               <div>
                 <h3 class="mb-3">What We Do</h3>
                 <p class="mb-0">We service all the newest and popular mobile phones, tablets and laptops. natis sed id
                   nisl
                   magna auris
                   et neque sollicitudin ullamcorper fusce molestie felis mi id.Vestibulum venenatis sed id nisl magna
                   suspendisse a mauris.</p>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--We are repair-->
       <!--What people are says-->
       <section class="pb-6 pb-lg-10">
         <div class="container-fluid g-0">
           <div class="row g-0">
             <div class="col-md-6 d-none d-lg-block" style="background: url(./assets/images/post/side-image.jpg)no-repeat; background-size: cover; background-position: center;">
   
             </div>
             <div class=" col-md-6 bg-secondary px-lg-16  py-lg-12 p-6">
               <h2 class="mb-6 mb-lg-8 text-white">What people are says</h2>
               <div id="testimonialCarousel" class="carousel slide">
                 <div class="carousel-inner pb-14">
                   <div class="carousel-item active">
                     <div class="">
                       <div class="d-flex align-items-center mb-4 mb-lg-6">
                         <div>
                           <img src="./assets/images/post/testimonial-pic.jpg" alt="testimonial" class="rounded-circle">
                         </div>
                         <div class="ms-4">
                           <h3 class="mb-0 text-white">Margaret Grimes</h3>
                           <small class="text-white">iPhone Repair service</small>
                         </div>
                       </div>
                       <div>
                         <p class="mb-0 text-white">“Thank you so much for the great service! After dropping my iPhone in
                           water I
                           wasn't sure
                           it would work
                           correctly again. Fixit team fix my iPhone the same day. I took it in and its working like new
                           again”</p>
                       </div>
                     </div>
                   </div>
   
                   <div class="carousel-item">
                     <div class="">
                       <div class="d-flex align-items-center mb-4 mb-lg-6">
                         <div>
                           <img src="./assets/images/post/testimonial-pic.jpg" alt="testimonial" class="rounded-circle">
                         </div>
                         <div class="ms-4">
                           <h3 class="mb-0 text-white">Margaret Grimes</h3>
                           <small class="text-white">iPhone Repair service</small>
                         </div>
                       </div>
                       <div>
                         <p class="mb-0 text-white">Thank you so much for the great service! After dropping my iPhone in water I
                           wasn't
                           sure
                           it would work
                           correctly again. Fixit team fix my iPhone the same day. I took it in and its working like new
                           again”</p>
                       </div>
                     </div>
                   </div>
   
                   <div class="carousel-item">
   
                     <div class="">
                       <div class="d-flex align-items-center mb-4 mb-lg-6">
                         <div>
                           <img src="./assets/images/post/testimonial-pic.jpg" alt="testimonial" class="rounded-circle">
                         </div>
                         <div class="ms-4">
                           <h3 class="mb-0 text-white">Margaret Grimes</h3>
                           <small class="text-white">iPhone Repair service</small>
                         </div>
                       </div>
                       <div>
                         <p class="mb-0 text-white">Thank you so much for the great service! After dropping my iPhone in water I
                           wasn't
                           sure
                           it would work
                           correctly again. Fixit team fix my iPhone the same day. I took it in and its working like new
                           again”</p>
                       </div>
                     </div>
                   </div>
   
   
   
                   <div class="carousel-indicators start-0 ms-0 justify-content-start mb-0">
                     <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active"
                       aria-current="true" aria-label="Slide 1"></button>
                     <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1"
                       aria-label="Slide 2"></button>
                     <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2"
                       aria-label="Slide 3"></button>
                   </div>
                 </div>
               </div>
   
             </div>
   
   
   
           </div>
         </div>
         </div>
       </section>
       <!--What people are says-->
       <!--We Fix Everything-->
       <section class=" pb-6 pb-lg-10">
         <div class="container">
           <div class="row">
             <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
               <div class="text-center mb-lg-6 mb-5">
                 <h2 class="mb-2">We Fix Everything Repair Guides</h2>
                 <p class="mb-0">The free repair guide for everything and any devices and gadgets</p>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-6 col-lg-4 col-12">
               <div class="mb-4 mb-lg-0">
                 <div class="position-relative ">
                   <a href="#">
                     <img src="./assets/images/post/small-post.jpg" alt="small" class="w-100 mb-5 rounded">
                   </a>
                   <div class="position-absolute bottom-0 start-0 mb-6 ms-3 ">
                     <div class="bg-white p-2 text-center rounded">
                       <h4 class="mb-0 fw-bold">15</h4>
                       <span>june</span>
                     </div>
                   </div>
                 </div>
                 <h3 class="mb-3">
                   <a href="#" class="text-inherit">Complete Disassembly & Installation Guides</a>
                 </h3>
                 <div>
                   <div class="border-bottom pb-3 mb-3">
                     <span>
                       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                         class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                         <path
                           d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                       </svg>
   
                       <span class="ms-1 fs-5">
                         <a href="#" class="text-inherit">2 Comments</a>
                       </span>
                     </span>
                     <span class="ms-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                         class="bi bi-person-fill" viewBox="0 0 16 16">
                         <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                       </svg>
                       <span class="ms-1 fs-5">
                         by
                         <a href="#" class="text-inherit">Admin</a>
                       </span>
                     </span>
                   </div>
                   <div class="mb-4">
                     <p>Vestibulum imperdiet fringilla ate varius een metus fringilla ipsum, quis tincidunt purus magna
                       vitae
                       ligula.</p>
                   </div>
                   <a href="#" class="btn btn-primary">Read More</a>
                 </div>
               </div>
             </div>
             <div class="col-md-6 col-lg-4 col-12">
               <div class=" mb-4  mb-md-0">
                 <div class="position-relative">
                   <a href="#">
                     <img src="./assets/images/post/small-post-1.jpg" alt="small" class="w-100 mb-5 rounded">
                   </a>
                   <div class="position-absolute bottom-0 start-0 mb-6 ms-3">
                     <div class="bg-white p-2 text-center  rounded">
                       <h4 class="mb-0 fw-bold">14</h4>
                       <span>june</span>
                     </div>
                   </div>
                 </div>
                 <h3 class="mb-3">
                   <a href="#" class="text-inherit">Ipad Mini Won't Turn On? Tried Everything?</a>
                 </h3>
                 <div>
                   <div class="border-bottom pb-3 mb-3">
                     <span>
                       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                         class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                         <path
                           d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                       </svg>
   
                       <span class="ms-1 fs-5">
                         <a href="#" class="text-inherit">2 Comments</a>
                       </span>
                     </span>
                     <span class="ms-4">
                       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                         class="bi bi-person-fill" viewBox="0 0 16 16">
                         <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                       </svg>
                       <span class="ms-1 fs-5">
                         by
                         <a href="#" class="text-inherit">Admin</a>
                       </span>
                     </span>
                   </div>
                   <div class="mb-4">
                     <p>Vestibulum imperdiet natis risus eleifend. Ut vitae justo duarius een metus fringilla ipsum, quis
                       tincidunt purus magna vitae ligula.</p>
                   </div>
                   <a href="#" class="btn btn-primary">Read More</a>
                 </div>
               </div>
             </div>
             <div class="col-md-6 col-lg-4 col-12">
               <div class="position-relative">
                 <a href="#">
                   <img src="./assets/images/post/small-post-2.jpg" alt="small" class="w-100 mb-5  rounded">
                 </a>
                 <div class="position-absolute bottom-0 start-0 mb-6 ms-3">
                   <div class="bg-white p-2 text-center  rounded">
                     <h4 class="mb-0 fw-bold">13</h4>
                     <span>june</span>
                   </div>
                 </div>
               </div>
               <h3 class="mb-3">
                 <a href="#" class="text-inherit">Lock Button Not Working After Screen Replacement</a>
               </h3>
               <div>
                 <div class="border-bottom pb-3 mb-3">
                   <span>
                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                       class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                       <path
                         d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                     </svg>
   
                     <span class="ms-1 fs-5">
                       <a href="#" class="text-inherit">2 Comments</a>
                     </span>
                   </span>
                   <span class="ms-4">
                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="var(--fixit-primary)"
                       class="bi bi-person-fill" viewBox="0 0 16 16">
                       <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                     </svg>
                     <span class="ms-1 fs-5">
                       by
                       <a href="#" class="text-inherit">Admin</a>
                     </span>
                   </span>
                 </div>
                 <div class="mb-4">
                   <p>Pellentesque enim justo, feugiat id pulvinado a urna. Morbi non sapien enim. Quisque in molestie
                     sapien, a accumsan leo.
                   </p>
                 </div>
                 <a href="#" class="btn btn-primary">Read More</a>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--We Fix Everything-->
       <!--We work with every-->
       <section class="py-lg-10 py-6 bg-light">
         <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="text-center mb-lg-6 mb-5">
                 <h2 class="mb-2">We work with every brand</h2>
                 <p class="'mb-0">We work on almost all of the more popular brands. We are the <span class="fw-bold">#1
                     digital device repair</span> shop in Country</p>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-1.png" alt="logo1" class="img-fluid">
                 </a>
               </div>
             </div>
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-2.png" alt="logo2" class="img-fluid">
                 </a>
               </div>
             </div>
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-3.png" alt="logo3" class="img-fluid">
                 </a>
               </div>
             </div>
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-4.png" alt="logo4" class="img-fluid">
                 </a>
               </div>
             </div>
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-5.png" alt="logo5" class="img-fluid">
                 </a>
               </div>
             </div>
             <div class="col-md-4 col-lg-2 col-6">
               <div class="text-center">
                 <a href="#">
                   <img src="./assets/images/Logo/logo-2.png" alt="logo2" class="img-fluid ">
                 </a>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--We work with every-->
       <!--repair your mobile phone-->
       <section class="py-6 bg-secondary">
         <div class="container">
           <div class="row d-flex align-items-center">
             <div class="col-md-7 col-lg-8">
               <div class="mb-4  mb-md-0 text-white-50">
                 <h2 class="mb-2 text-white">Do you want to repair your mobile phone?</h2>
                 <p class="mb-0">Nunc leo arcu tempus ut est et pulvinar scelerisque lorem sed et odio ut ullamcorper.</p>
               </div>
             </div>
             <div class="col-md-5 col-lg-4">
               <div class="text-md-end">
                 <a href="#" class="btn btn-primary">Get Free Estimate</a>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--repair your mobile phone-->
     </main>
    <!-- !swiper slides -->
    <!-- next / prev arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- !next / prev arrows -->
    <!-- pagination dots -->
    <div class="swiper-pagination bottom-0 mb-3"></div>
    <!-- !pagination dots -->
</div>
<!-- Other content here -->
{% endblock %}
